p {
    font-family: "Roboto";
    font-size: 17px;
}

strong{
	font-family: "Roboto";
	font-weight: bold;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 15px;
    text-decoration: none;
    color: #000000;
    background: #27AE61 url("images/arrow.png") no-repeat center 43%;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}