
#top {
	background-color: rgba(235, 235, 235, 0.80);
}



p {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
}

strong{
	font-family: "Roboto";
	font-weight: bold;
}

h4{
	font-family: "Roboto";
	font-weight: 700;
	font-weight: bold;
}

h2{
	font-family: "Roboto";
	font-weight: 700;
	font-weight: bold;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 15px;
    text-decoration: none;
    color: #000000;
   	background: url(arrow.png) no-repeat center 43%;
    background-color: rgba(235, 235, 235);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}